<%
# Copyright (C) 2014 Andrew Murrell
# Copyright (C) 2014 Davis Webb
# Copyright (C) 2014 Guntas Grewal
# Copyright (C) 2014 Luke Shumaker
# Copyright (C) 2014 Nathaniel Foy
# Copyright (C) 2014 Tomer Kimia
#
# This file is part of Leaguer.
#
# Leaguer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Leaguer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the Affero GNU General Public License
# along with Leaguer.  If not, see <http://www.gnu.org/licenses/>.
%>
<div class="jumbotron">
	<h1>Welcome to Leaguer</h1>
	<p>This is a tournment management system designed to be used for any team sport. Our peer review system ensures that the best players move on to the next round! Try creating a new tournament and having people sign up for it. </p>
	<p id="jumbo-buttons">
		<% if !signed_in? %>
			<%= link_to 'Log In', new_session_path, :class => "signin", :role => "button" %>
			<%= link_to 'Sign Up', new_user_path, :class => "signup", :role => "button" %>
		<% else %>
			<%= link_to 'Start a Tournament', new_tournament_path, :role => "button" %>
		<% end %>
		<%= link_to 'See Ongoing Tournaments', tournaments_path, :role => "button" %>
	</p>
</div>
