<p id="notice"><%= notice %></p>

<p>
  <strong>Default user permissions:</strong>
  <%= @server.default_user_permissions %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
