<p>
  <strong>Author:</strong>
  <%= @conversation.last_sender.user_name %>
</p>

<p>
  <strong>Recipient:</strong>
  <%#@pm.recipient.user_name %>
</p>

<p>
  <strong>Message:</strong>
  <%# @pm.message %>
</p>

<%# link_to 'Edit', edit_pm_path(@pm) %> |
<%= link_to 'Back', pms_path %>
