<p>
  <strong>Author:</strong>
  <%= @alert.author %>
</p>

<p>
  <strong>Message:</strong>
  <%= @alert.message %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
