<div role="main" class="container theme-showcase">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome to Leaguer</h1>
        <p>This is a tournment management system designed to be used for any team sport. Our peer review system ensures that the best players move on to the next round! Try creating a new tournament and having people sign up for it. </p>
        <p id="jumbo-buttons">
        <%= link_to 'Log In', "/signin", :class => "btn btn-warning btn-lg", :role => "button" %> 
        <%= link_to 'Sign Up', "/signup", :class => "btn btn-warning btn-lg", :role => "button" %> 
        <%= link_to 'See Ongoing Tournaments', tournaments_path, :class => "btn btn-warning btn-lg", :role => "button" %>
         </p>
      </div>

    </div>
