<p>
  <strong>Tournament:</strong>
  <%= @match.tournament %>
</p>

<p>
  <strong>Name:</strong>
  <%= @match.name %>
</p>

<%= link_to 'Edit', edit_tournament_match_path(@tournament, @match) %> |
<%= link_to 'Back', tournament_matches_path %>
