@import "bootstrap";

$page-color: #444;
$toolbar-color: black;
$orange: #DD9125;
$darker-orange: #9D4102;
$link-yellow: #FFC50D;

header > nav {
	@extend .navbar; 
	@extend .navbar-inverse;
	color: white;	

	#log-buttons {
		margin-top: 8px;
		form { display: inline; }
	}
	form.search {
		@extend .navbar-form;
		@extend .navbar-right;
		input[type="submit"] {
			@extend .btn-warning; margin-top: -3px; margin-right: 8px;
		}
	}
}


a, input[type="submit"] {
	@extend .btn;
	&.user { @extend .btn-info; }
	&.signup { @extend .btn-success; }
	&.signin { @extend .btn-warning; }
	&.signout { @extend .btn-danger; }
	&.server { @extend .btn-danger; }
	font-weight: bold !important;
}


input[type="text"],  input[type="password"], textarea{
	-webkit-box-shadow: inset 0 0 8px  rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
	   -moz-box-shadow: inset 0 0 8px  rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
	        box-shadow: inset 0 0 8px  rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);

	border: 3px inset #A5A5A5;
	padding: 8px;
	color: $orange !important;
	background: rgba(0,0,0,0.5);
	margin: 0 0 5px 0;
}

select {
	background-color: #333;
	padding: 5px;
	border: none;
	color: #DD9125 !important;
}

p.errors {
	background-color: rgba(0,0,0,0.5);;
	color: red;
	border-radius: 7px;
	padding: 10px;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	ul li {
		font-size: 12px;
		list-style: square;
	}
}

// Limitation: Only one box can be expanded at a time
.collapsible {
	.collapsed { display: block; }
	.expanded { display: none; }
	&:target {
		.collapsed { display: none; }
		.expanded { display: block; }
	}
}

pre {
    text-align: left;
}
