@import "bootstrap";

header > nav {
	@extend .navbar; 
	@extend .navbar-inverse;
	color: white;	

	#log-buttons {
		margin-top: 8px;
		form { display: inline; }
		a, input[type="submit"] {
			@extend .btn;
			&.user { @extend .btn-info; }
			&.signup { @extend .btn-success; }
			&.signin { @extend .btn-info; }
			&.signout { @extend .btn-danger; }
		}
	}
}
