@import "bootstrap";

header > nav {
	@extend .navbar; 
	@extend .navbar-inverse;
	color: white;	

	#log-buttons {
		margin-top: 8px;
		form { display: inline; }
	}
	form.search {
		@extend .navbar-form;
		@extend .navbar-right;
		input[type="submit"] {
			@extend .btn-warning; margin-top: -3px; margin-right: 8px;
		}
	}
}

a, input[type="submit"] {
	@extend .btn;
	&.user { @extend .btn-info; }
	&.signup { @extend .btn-success; }
	&.signin { @extend .btn-warning; }
	&.signout { @extend .btn-danger; }
	&.server { @extend .btn-danger; }
}


input[type="text"],  input[type="password"]{
	border: 3px inset #A5A5A5;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(0,0,0,0.5);
    margin: 0 0 5px 0;
}

p.errors {
	background-color: #FCF8C7;
	color: red;
	border-radius: 7px;
	padding: 10px;
}

#errorExplanation {
	h2 {
		font-size: 1em;
		color: red;
		font-weight: bold;
	}
	li {
		font-size: 1em;
		color: red;
		font-style: italic;  
	}

}

#notice {
	text-align: center;
	font-weight: bold;
}