// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	background-color: #FFF;
	box-shadow: 1px 1px 20px black;
	width: 93%;

	p {
		line-height: 1.5em;
	}

}
