#peer_review_boxes li {
    cursor: move;
    position: relative;
    float: left;
    margin: 5px;
    width: 180px;
    height: 240px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;
    background-color: rgb(238, 238, 255);
}

// Nothing uses this one right now
#peer_review_numeric li {
    cursor: move;
    position: relative;
    float: left;
    margin: 5px;
    width: 180px;
    height: 240px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;
    background-color: rgb(238, 238, 255);
}

/**** INDEX PAGE - TABLE AND GRAPH ****/
#matches-table {
    @extend .table;
    color: #FFF;

    form {
        color: #333;
    }
}
