// Place all the styles related to the pms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p, li {
    color: #DD9125;
}
td, th {
    padding: 0px;
    color: #DD9125;
}