@import "bootstrap";

$page-color: #444;
$toolbar-color: black;
$orange: #DD9125;
$link-yellow: #FFC50D;

html{
  height: 100%;
}

body {
  background: asset-url("bg.png", image) repeat scroll 0 0 $page-color;
  color: $page-color;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
}

h1, h2, h3, h4, h5, p{
  color: $orange;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* NAVBAR */

.navbar-brand {
  @extend .no-dec;
  a{
    color: white;
    &:hover, &:active, &:focus {
      color: white;
      font-weight: normal;
      text-decoration: none;
    }
  }
}

.navbar-inverse, header > nav {
    background-color: $toolbar-color;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 5px black;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
	color: $link-yellow;
  	&:hover {
      color: #FFEF00;
      text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  background-color: rgba(0,0,0,0.5);
  border-radius: 7px;
  padding: 10px;
}

.field_with_errors {
  padding: 1px;
  background-color: #FF4C4C;
  box-shadow: 0px 0px 5px red;
  display: table;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}

button, input[type="submit"] {
    @extend .btn;
}



footer {
  clear: both;
  margin: 0 auto;
  margin-top: 10px;
  border-top: solid 1px $orange;
  padding-top: 10px;
  color: white;
  text-align: center;
}