// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.default-field {
	display: inline;
}

span.default-explanation {
	color: gray;
	font-style: italic;  
}

#players-needed {
	text-align: center;
	font-style: italic;
}

#tournament-side-params {
    background: none repeat scroll 0 0 #ADD8E6;
    border-radius: 5px;
    float: right;
    font-size: 7px;
    padding: 10px;

    p {
    	font-size: 10px;
    	margin-bottom: 5px;
    }

}

#tournament-users{
	
	li {
		color: green;
	}

	.black {
		color: black;
	}
}


/* Style of a tournament listing div */
div.tournament-listing {
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px #B8B8B8;
	border: 2px solid #AAAAAA;
	min-height: 100px;
	padding: 4px;

	/* AKA the listing title */
	h3 {
		margin-top: 0px;
		color: #F0AD4E;
		font-weight: bold;
	}

	h3:hover {
		color: #D09D3E;
	}

	/* host of the tournament */
	.host {
		font-weight: bold;
	}

	.col-md-8 {
		padding: 0;
		a {
			padding: 5px 0 0 0;
		}
	}
}

div.leave-buttons {
	margin-top: 50px;
	form {
		display: inline;
	}
}