// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.default-field {
	display: inline;
}

span.default-explanation {
	color: gray;
	font-style: italic;  
}

#players-needed {
	text-align: center;
	font-style: italic;
}

#tournament-side-params {
    background: none repeat scroll 0 0 #ADD8E6;
    border-radius: 5px;
    float: right;
    font-size: 7px;
    padding: 10px;

    p {
    	font-size: 10px;
    	margin-bottom: 5px;
    }

}

#tournament-users{
	
	li {
		color: green;
	}

	.black {
		color: black;
	}
}