// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.new_tournament, .edit_tournament {
	td, th {
		padding: 5px;
	}
	legend {
		color: $orange
	}
}

p.default-field {
	display: inline;
}

span.default-explanation {
	color: gray;
	font-style: italic;  
}

#players-needed {
	text-align: center;
	font-style: italic;
}

#tournament-side-params {
	background: none repeat scroll 0 0 rgba(0,0,0,0.5);
	border-radius: 5px;
	float: right;
	font-size: 7px;
	padding: 10px;

	p {
		font-size: 10px;
		margin-bottom: 5px;
	}

}


#tournament-users{
	
	li {
		color: #10A010;
	}

	.black {
		color: white;
	}
}


/* Style of a tournament listing div */
div.tournament-listing {
	margin: 10px 0px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #B8B8B8;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #AAAAAA;
	min-height: 100px;
	padding: 8px 4px;

	/* AKA the listing title */
	h3 {
		margin-top: 0px;
		color: #F0AD4E;
		font-weight: bold;
	}

	h3:hover {
		color: #D09D3E;
	}

	/* host of the tournament */
	.host {
		font-weight: bold;
		color: #FFF;
	}

	.col-md-8 {
		padding: 0;
		a {
			padding: 5px 0 0 0;
		}
	}

	.t-game{
		font-weight: bold;
		text-align: center;
	}

	.t-image{
		display: block;
		margin:auto;
	}
}

div.leave-buttons {
	margin-top: 50px;
	form {
		display: inline;
	}
}