@import "bootstrap";
@import "colors";

/* Layout ***********************************************************/

html {
	body {
		background: asset-url("bg.png", image) repeat scroll 0 0 $toolbar-color;
		color: $page-color;
		font-family: verdana, arial, helvetica, sans-serif;
		font-size: 13px;
		line-height: 18px;

		header > nav {
			@extend .navbar;
			@extend .navbar-inverse;
			color: white;

			.navbar-brand {
				@extend .no-dec;
				a{
					color: white;
					&:hover, &:active, &:focus {
						color: white;
						font-weight: normal;
						text-decoration: none;
					}
				}
			}

			#log-buttons {
				margin-top: 8px;
				form { display: inline; }
				#alerts-ajax {
					display: none;
				}
			}

			form.search {
				@extend .navbar-form;
				float: right;
				input[type="text"], input[type="search"] {
					background-color: #303030;
					border: 2px solid #ED9C28;
					border-radius: 5px;
					color: #FFF;
					font-weight: bold;
					height: 30px;
					padding: 0px 5px;
				}
				input[type="submit"] {
					@extend .btn-warning;
				}
			}
		}

		#notice {
			background-color: rgba(0,0,0,0.5);
			border-radius: 7px;
			padding: 10px;
			width: 80%;
			margin: 0px auto;
			text-align: center;

			p {
				color: lightgreen !important;
				font-weight: bold;
			}
		}

		.wrapper {
			width: 80%;
			margin: 10px auto 0;
		}

		footer {
			clear: both;
			border-top: solid 1px $orange;
			text-align: center;
			margin: 1em auto 0;
			width: 90%;
		}
	}
}

/* General styles ***************************************************/

h1, h2, h3, h4, h5, p, li, label{
	color: $orange;
}

h1, h2, h3, h4, h5 {
	text-shadow: 0px 0px 2px $darker-orange;
}

p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

fieldset {
	border: solid 1px $orange;
	border-radius: .5em;
	padding: 1em;
	margin: 1em 0;
	legend {
		color: $orange;
		display: block;
		margin: 0;
		padding: .25em .5em;
		width: auto;
		border: solid 1px $orange;
		border-radius: .5em;
	}
}

form ul {
	list-style: none;
}

a, button, input[type="submit"] {
	@extend .btn;
	&.user { @extend .btn-info; }
	&.signup { @extend .btn-success; }
	&.signin { @extend .btn-warning; }
	&.signout { @extend .btn-danger; }
	&.server { @extend .btn-warning; }
	&.create-alert {
		color: white;
		background-color: rgb(255, 69, 0);
		border-color: rgb(255, 69, 0);
	}
	&.alerts {
		@extend .navbar-right;
		@extend .glyphicon;
		@extend .glyphicon-exclamation-sign;
		color: white;
		background-color: hsl(0, 69%, 22%) !important;
	}
	font-weight: bold !important;
}

input, textarea{
	-webkit-box-shadow: inset 0 0 8px  rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
	   -moz-box-shadow: inset 0 0 8px  rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
	        box-shadow: inset 0 0 8px  rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);

	border: 3px inset #A5A5A5;
	padding: 8px;
	color: $orange;
	background: rgba(0,0,0,0.5);
	margin: 0 0 5px 0;
}

select {
	background-color: #333;
	padding: 5px;
	border: none;
	color: $orange;
}

pre {
	text-align: left;
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a {
	color: $link-yellow;
  	&:hover {
		color: white;

	}
}

p, li {
    color: #DD9125;
}

td, th {
    color: #DD9125;
}

svg {
    min-width: 600px;
}

div.field, div.actions {
	margin-bottom: 10px;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	ul li {
		font-size: 12px;
		list-style: square;
	}
}
.field_with_errors {
	padding: 1px;
	background-color: #FF4C4C;
	box-shadow: 0px 0px 5px red;
	display: table;
}
.errors {
	background-color: rgba(0,0,0,0.5);;
	color: red;
	border-radius: 7px;
	padding: 10px;
}

/* Specific styles **************************************************/

.tournament-listing {
	margin: 10px 0px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #B8B8B8;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #AAAAAA;
	min-height: 100px;
	padding: 8px 4px;

	div.row {
		margin-left: 2%;
	}
	p.message {
		margin-top: 10px;
	}

	/* AKA the listing title */
	h3 {
		margin-top: 0px;
		color: #F0AD4E;
		font-weight: bold;
	}

	h3:hover {
		color: #D09D3E;
	}

	/* host of the tournament */
	.host {
		font-weight: bold;
		color: #FFF;
	}

	.col-md-8 {
		padding: 0;
		a {
			padding: 5px 0 0 0;
		}
	}

	.t-game{
		font-weight: bold;
		text-align: center;
	}

	.t-image{
		display: block;
		margin:auto;
	}
}


.user-listing {
	margin: 10px 0px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #B8B8B8;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #AAAAAA;
	min-height: 100px;
	padding: 8px 4px;
	display: inline-table;

	/* AKA the listing title */
	h3 {
		margin-top: 0px;
		color: #F0AD4E;
		font-weight: bold;
	}

	h3:hover {
		color: #D09D3E;
	}

	.things {
		padding: 0px 10px;
	}

	p {
		margin: 0;
	}
	div.row {
		margin-left: 2%;
	}
}

// Limitation: Only one box can be expanded at a time
.collapsible {
	.collapsed { display: block; }
	.expanded { display: none; }
	&:target {
		.collapsed { display: none; }
		.expanded { display: block; }
	}
}

.simple_captcha {
	background-color: rgba(255, 255, 255, 0.7);
	margin: 10px 0px;
}
